body {
  width: 70%;
  height: 100%;
  margin-left: 15%;
}

p {
  font-size: 14pt;
  font-family: sans-serif;
  line-height: 25pt;
}

.footnote {
  font-size: 10pt;
  font-family: sans-serif;
  text-align: center;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  object-position: center;
}

h1 {
  font-size: 14pt;
  font-family: sans-serif;
  text-align: right;
  padding-bottom: 20px;
}

img {
  padding: 25px;
}
